%html
%head
  %meta{:charset => "utf-8"}/
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js"}

  -# %script{:src => "https://unpkg.com/@fullcalendar/moment@4.4.0/main.min.js"}
  -# %script{:src => "https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js"}
  -# %script{:src => "https://unpkg.com/@fullcalendar/interaction@4.4.0/main.min.js"}
  -# %script{:src => "https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js"}
  -# %script{:src => "https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.js"}
  -# %script{:src => "https://unpkg.com/@fullcalendar/core@4.4.0/locales-all.js"}
  -# %link{:href => "https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css", :rel => "stylesheet"}/
  -# %link{:href => "https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css", :rel => "stylesheet"}/
  -# %link{:href => "https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.css", :rel => "stylesheet"}/

%body
  #calendar
  






























-# !!!
-# %html{:lang => "en"}
-#   %head
-#     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#     %meta{:charset => "utf-8"}/
    
-#     %link{:href => "https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css", :rel => "stylesheet"}/
-#     %link{:href => "https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css", :rel => "stylesheet"}/
-#     %link{:href => "https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.css", :rel => "stylesheet"}/
-#     %script{:src => "https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js"}
-#     %script{:src => "https://unpkg.com/@fullcalendar/interaction@4.4.0/main.min.js"}
-#     %script{:src => "https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js"}
-#     %script{:src => "https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.js"}
-#     %script{:src => "https://unpkg.com/@fullcalendar/core@4.4.0/locales/ja.js"}
-#     :javascript
-#       document.addEventListener('DOMContentLoaded', function() {
-#         var calendarEl = document.getElementById('calendar');

-#         var calendar = new FullCalendar.Calendar(calendarEl, {
-#           plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
-#           defaultView: 'dayGridMonth',
-#         defaultDate: '2020-02-07',
-#         header: {
-#           left: 'prev,next today',
-#           center: 'title',
-#           right: 'dayGridMonth,timeGridWeek,timeGridDay'
-#         },
-#         });
-#       });
-#     %link{:charset => "UTF-8", :href => "https://translate.googleapis.com/translate_static/css/translateelement.css", :rel => "stylesheet", :type => "text/css"}/

-#   %body
-#     #calendar

